* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  line-height: 1.8;
}
nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
nav > a {
  letter-spacing: 3px;
}
nav a {
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 16px;
  font-weight: 300;
}
nav a:hover {
  background-color: #cccccc;
}
nav ul {
  list-style: none;
  display: flex;
}
.main_bgm {
  background-image: url('https://www.w3schools.com/w3images/mac.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  filter: grayscale(50%);
  display: flex;
  align-items: center;
  position: relative;
}
.home_text_container {
  padding: 48px;
  color: white;
  font-weight: 300;
}
.home_text_container a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 12px 24px;
  margin-top: 16px;
  font-size: 18px;
  background-color: #ffffff99;
}
.home_text_container a:hover {
  background-color: #ffffffc0;
}
.home_text_container .slogan-1 {
  display: block;
  font-size: 64px;
  margin: 15px 0;
}
.home_text_container .slogan-2 {
  display: block;
  font-size: 18px;
  margin: 15px 0;
}
.home_icons {
  position: absolute;
  font-size: 18px;
  bottom: 0;
  left: 0;
  padding: 24px 48px;
}
.home_icons i {
  color: #757575;
}
.home_icons i:hover {
  color: #75757565;
}
.container {
  padding: 128px 16px;
}
h2 {
  display: block;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  margin: 10px 0;
}
h3 {
  text-align: center;
  font-size: 18px;
  margin: 18px 0;
  font-weight: 200;
}
.about_content {
  height: auto;
}
.about_icon {
  display: flex;
  margin-top: 64px;
  padding: 0px 8px;
  text-align: center;
}
.about_icon div {
  padding: 0 8px;
}
.about_icon i {
  display: block;
  font-size: 64px;
  margin-bottom: 16px;
}
.about_icon h4 {
  margin: 18px 0;
  font-size: 18px;
  font-weight: 300;
}
.about_icon p {
  margin: 15px 0;
}
.promo_content {
  background-color: #f1f1f1;
  height: auto;
  display: flex;
}
.promo_text {
  padding: 0 8px;
  width: 49%;
}
.promo_text h2 {
  text-align: left;
}
.promo_text p {
  display: block;
  margin: 15px 0;
  font-weight: 200;
}
.promo_text a {
  display: inline-block;
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 8px 16px;
}
.promo_text a:hover {
  color: black;
  background-color: #CCCCCC;
}
.promo_img {
  background-image: url('https://www.w3schools.com/w3images/phone_buildings.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 700px;
  height: 394px;
}
.card_container {
  margin-top: 64px;
  padding: 0 8px;
  display: flex;
  justify-content: space-around;
}
.cards {
  display: block;
  width: 24%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card_img {
  display: block;
  filter: grayscale(75%);
}
.card_img img {
  width: 100%;
}
.card_info {
  padding: 0 16px;
}
.card_info h2 {
  text-align: left;
}
.card_info h5 {
  margin: 15px 0;
  color: #757575;
  font-weight: 200;
}
.card_info p {
  margin: 15px 0;
  font-weight: 300;
}
.card_info button {
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  border: none;
  padding: 8px 16px;
  text-align: center;
  margin: 15px 0;
}
.card_info button:hover {
  cursor: pointer;
  background-color: #dbdbdb;
}
.stat_content {
  background-color: #616161;
  color: white;
  text-align: center;
  padding: 64px 8px;
  display: flex;
  justify-content: space-around;
}
.stat_content .stats {
  display: block;
  width: 24.9%;
}
.stat_content h4 {
  font-size: 36px;
  font-weight: 400;
}
.stat_content h5 {
  font-weight: 300;
}
